
class <%= classname %>
   # Common options:
	#include DataMapper::Resource #<- Uncomment this line if this is a datamapper model
	
	# Datamapper field ref: http://datamapper.org/docs/properties
	# Common datamapper assoc: http://datamapper.org/docs/associations
	
	# Warning:  Using ActiveRecord with threads is not recommended, however you should be able to use any thread-safe ORM/data persistence
	#           library with CommonThread
	
end
