# Producers usually get jobs/objects from a model and put them in a queue for consumers to consume
class <%= classname %>Producer < Producer
   # Most functionality is built in, but you will likely want to overload/replace event_loop method
   #def event_loop
   #   every 5.minutes
   #   puts "do my stuff here"
   #end
end
